.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    background-color: #fff;
}

/* .product-details {
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} */

.product h3 {
    margin: 0;
}

.product p {
    margin: 0;
    color: #888;
}

.product button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #0056b3;
}
